@page "/razorcomponent"

@if(IsVisible) {
    <h3>Hello @ChildContent, I am a Razor Component!</h3>
    <button @onclick="(CloseMessage)">Close Message</button>
}

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private void CloseMessage()
    {
        IsVisible = false;
    }
}
