@inherits LayoutComponentBase

@inject ProtectedSessionStorage SessionStorage;
@inject NavigationManager NavigationManager;

<PageTitle>Shop.Admin</PageTitle>

<div class="page">
    @if(IsAdminLoggedIn)
    {
        <div class="sidebar">
            <NavMenu/>
        </div>
    }

    <main>
        @if(IsAdminLoggedIn)
        {
            <div class="top-row px-4">
                <a href="#" @onclick="Logout">Logout</a>
            </div>
        }

        <article class="content px-4">
            <CascadingValue Value="EventNotify">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>


@code
{
    public bool IsAdminLoggedIn;

    EventCallback EventNotify => EventCallback.Factory.Create(this, NotifyLayout);

    public async void Logout()
    {
        await SessionStorage.DeleteAsync("AdminKey");
        await NotifyLayout();

        NavigationManager.NavigateTo("/login");
    }

    private async Task NotifyLayout()
    {
        ProtectedBrowserStorageResult<string> adminSession = await SessionStorage.GetAsync<string>("AdminKey");

        if(adminSession.Success)
        {
            IsAdminLoggedIn = true;
        }
        else
        {
            IsAdminLoggedIn = false;
            NavigationManager.NavigateTo("/login");
        }
    }
}