.adminPageBodyContent {
	overflow-x: hidden;
	overflow-y: scroll;
}

table {
	width: 95%;
	margin: 0 auto;
	text-align: center;
	border: none;
}

table tr th, table tr td {
	font-weight: lighter;
	font-size: 1.1rem;
	padding: 15px 0;
	border: none;
	border-bottom: 1px solid #68696b;
}

table tr th {
	position: sticky;
	top: 0;
	background-color: #2BA8D6;
	color: white;
}

table tr td {
	color: #68696b;
}

table tr td:nth-child(1) {
	color: black;
	font-weight: bold;
	cursor: pointer;
}