@page "/dependencyInjection/second"
@using DummyBlazorApp.Data.DependencyInjectionExample
@inject IDependencyInjection dependencyInjection

<h3>Dependency Injection First => Dependency Injection Second</h3>
<hr /><br />
<h5>Current Time : @dependencyInjection.GetTime()</h5>
<h5>Current Version : @dependencyInjection.GetVersion()</h5>

@code {
    //public DependencyInjection dependencyInjection { get; set; }

    protected override void OnInitialized()
    {
        //dependencyInjection = new DependencyInjection();
    }
}
